/* =====================================================
   🌐 GLOBAL ERP THEME FIX
   ===================================================== */

html {
  font-size: 12px;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: url('/logos/wallpaper.jpg'); /* Tu fondo corporativo */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}



/* =====================================================
   🔘 BUTTON OVERRIDE
   ===================================================== */

.p-button {
  color: #333333 !important;
}





/* Forzar que el contenedor principal respete el redondeo */
.kiwik-dialog .p-dialog {
  border-radius: 20px !important; /* Ajusta el radio a tu gusto */
  overflow: hidden; /* Esto oculta cualquier contenido que se salga de la esquina */
}

/* Asegurar que el header no "rompa" el redondeo */
.kiwik-dialog .p-dialog-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

/* Si el contenido interno tiene fondo blanco, también debe ajustarse abajo */
.kiwik-dialog .p-dialog-content {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}