/* =====================================================
   🌐 GLOBAL ERP THEME FIX
   ===================================================== */

html {
  font-size: 12px;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: url('/logos/wallpaper.jpg'); /* Tu fondo corporativo */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;



}



/* =====================================================
   🔘 BUTTON OVERRIDE
   ===================================================== */

.p-button {
  color: #333333 !important;
}

/* =====================================================
   📌 FOOTER
   ===================================================== */

.footer-container {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer-main,
.footer-sub {
  color: #9ca3af;
  font-size: 0.75rem;
}

.footer-sub a {
  color: #608422;
  text-decoration: none;
}